


<header class="container">
    <nav>
        <div class="logo nav-logo">
            <img src="../../assets/images/CHICK_BUCK_logo_62176438517c8.jpg"  alt="">

        </div>

        <div id="nav-link">
            <div  class="nav-links">
                <h4>Menu</h4>
            </div>
            <div class="nav-links"><h4>Deals</h4></div>
        </div>
        
        <div class="right-links">
            <div class="signup"><fa-icon [icon]="faUserPlus"></fa-icon></div>
            <div class="cart"><fa-icon [icon]="faBucket"></fa-icon></div>
        </div>
        
    </nav> 

</header>
