


<header class="container">
    <nav>
        <div class="links">
            <div class="logo nav-logo">
                <img src="../../assets/images/CHICK_BUCK_logo_62176438517c8.jpg"  alt="">
    
            </div>
    
            <div id="nav-link">
                <div  class="nav-links">
                    <h4>Menu</h4>
                </div>
                <div class="nav-links"><h4>Deals</h4></div>
            </div>
        </div>
        
        <div>
            <div class="right-links">
                <div class="signup"><fa-icon [icon]="faUserPlus"></fa-icon></div><div><h4>Sign up</h4></div>
                <div class="divider"></div>
                <div class="cart-amount">$ 0</div>
                <div class="cart"><img src="https://images.ctfassets.net/wtodlh47qxpt/6qtBVFuno7pdwOQ9RIvYm9/d13e9b7242980972cf49beddde2cc295/bucket_cart_icon.svg" alt=""></div>
            </div>
        </div>
        
    </nav> 

</header>
